body{
  background-color: rgb(221, 228, 233);
  /* overflow-x: hidden; */
}
#navbar{
  background-color: #084e75;
}
#navmenu ul li a:hover{
  color: rgb(155, 62, 20);
  margin: 5px;
}
#showcase{
  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-image: url('./assets/mac.jpg');
  background-color: rgba(231, 228, 228, 0.5); 
  background-blend-mode: overlay; 
}
#name{
  color: rgb(94, 38, 18);
}
#about{
  background-color: #E2EEF2;
}
#background-info{
  background-color: #01152c;
}
#contact{
  background-color: #56a4ce;
}