body{
  background-color: rgb(221, 228, 233);
  /* overflow-x: hidden; */
}
#navbar{
  background-color: #084e75;
}
#showcase{
  background-image: url('./assets/mac.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
#overlay{
  background-color: rgba(217, 233, 247, 0.5);
}
#background-section{
  background-color: #E2EEF2;
}
#background-info{
  background-color: #01152c;
}